aws_region   = "ap-south-1"
project_name = "epicbook"

vpc_cidr                = "10.0.0.0/16"
public_subnet_cidr      = "10.0.1.0/24"
private_db_subnet_cidrs = ["10.0.2.0/24", "10.0.3.0/24"]
availability_zones      = ["ap-south-1a", "ap-south-1b"]
ssh_allowed_cidrs       = ["49.200.204.34/32", "223.185.42.41/32", "27.97.174.161/32"]

instance_type   = "t3.micro"
key_name        = "epicbook-key"
public_key_path = "~/.ssh/epicbook-key.pub"

db_instance_class    = "db.t3.micro"
db_engine_version    = "8.4"
db_allocated_storage = 20
db_username          = "admin"
db_password          = "CHANGE_ME"
